<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注文リスト</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>注文リスト</h1>
    <a href="/orders/new">新規注文を追加</a>
    <table>
        <caption>注文リスト</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>配送日</th>
                <th>住所</th>
                <th>注文ID</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.name}"></td>
                <td th:text="${order.deliveryDate}"></td>
                <td th:text="${order.address}"></td>
                <td th:text="${order.orderId}"></td>
                <td>
                    <a th:href="@{/orders/edit/{id}(id=${order.id})}">編集</a>
                    <a th:href="@{/orders/delete/{id}(id=${order.id})}" onclick="return confirm('本当に削除しますか？');">削除</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
